.container {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.container header {
  margin: 84px 0 24px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 280px;
}

.container header div {
  display: flex;
  align-items: center;

}

.container input {
  width: 50%;
  padding: 24px;
  background: #e6e6e6;
  border-radius: 5px;
  font-size: 16px;
}

.container button {
  width: 50%;
  margin: 15px;
  padding: 2px;
  transition: background 1s;
  cursor: pointer;
  font-size: 16px;
  background: #fff;
}

.container button:hover {
  background: green;
}

label,
input,
button,
h1 {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}